html, body, .pageWrapper {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; 
}

/* extra-small (also establishes defaults) */
.pageWrapper {
  display: flex;
  flex-direction: column;
}

.theheader {
}
.thebody {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.thefooter {
  overflow: hidden;
  background: #eee;
  padding: 10px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexgrow {
  flex: 1;
}

.vcenter {
  display: flex;
  align-items: center;
}


.hcenter {
  justify-content: center;
}

.xs-only {}
.sm-only {}

@media only screen and (max-width: 767px) {
  .sm-only { display:none; }

  .theheader {
    background: #eee;
  }

  .theheader .wordmark {
    font-weight: bold;
    margin-right: 20px;
  }
}

/* small */
@media only screen and (min-width: 768px) {
  .xs-only { display:none; }

  .theheader {
    display: flex;
    background: #2185c5;
    color: #fff;
  }
  .baseline {
    justify-content: baseline;
  }
  .innerarea {
    width: 748px;
    padding: 10px;
    margin: 0 auto 0 auto;
  }

  .wordmark {
    font-weight: bold;
    font-size: 180%;
  }

  .menu {
    font-size: 120%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .tagmark {
    font-size: 133%;
  }
}
